<app-header></app-header>
<h2> Crops-List</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="demo-button-container">
    <div class="bootstrap-wrapper">
        <div class="conctainer text-center mt">
            <a routerLink="/addcrop" mat-raised-button color="accent">Add Crop</a>
    
            
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th> Crop Name</th>
            <th> Crop Type </th>
            <th> Crop Quantity</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let crop of crops" >
            <td> {{ crop.crop_name }} </td>
            <td> {{ crop.crop_type}} </td>
            <td> {{ crop.crop_quantity}} </td>
            <td>
                
                <button (click) = "updateCrop(crop.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteCrop(crop.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "cropDetails(crop.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>

</table>

<hr>
<small class="footerD">&copy;Nusrat Kembhavi</small>
