<nav>
    <app-header></app-header>
        
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8">
                    <div class="parallax img1">
                        <div class="par">Farmers-Deal</div>
                        </div>
                        <div class="parallax img2">
                        <div class="par par2"> <p> Fresh and excellent CROPS</p>
                        <br><p>Buy And Sell Agriculture </p><br>Produce</div>
                        </div>
                        <div class="parallax img3">
                        <div class="par par3"><p> Register NOW and </p>
                           <br><p> experince the best way of </p>
                          <br><p>Selling and purchase of </p><br>
                        <p>crops!!!</p></div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    <small class="footerD">&copy;Nusrat Kembhavi</small>

