<app-header></app-header>
<!-- <app-navbar></app-navbar> -->

<mat-card class="customAboutUs">
    <span class="one">Welcome to "CROP-DEAL"</span><br><br>
<span>
    Buy and sell your Agric produce online (Buyers meet Farmers) – Sell your produce directly to buyers without middlemen and make more money from your farm produce.
</span><br><br>
<span>
    It’s evident that India has one of the largest agricultural markets around the world, which is why it becomes important to have a service, which can connect the farmers all over the country. This would help them in maximizing their profits by selling their farm produce at a better price by selling locally or where farmer get maximum price. 
</span>
</mat-card>

<hr>
    <small class="footerD">&copy;Nusrat Kembhavi</small>
<!-- <app-footer></app-footer> -->