<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br>
<br>
<br>


<h2> View Crop Details</h2>
<div>
    <div>
        <label> <b> Crop Name: </b></label> {{crop.crop_name}}
    </div>
    <br>
    <div>
        <label> <b> Crop Type: </b></label> {{crop.crop_type}}
    </div>
    <br>
    <div>
        <label> <b> Crop Quantity: </b></label> {{crop.crop_quantity}}
    </div>
    <br>

    <!-- <div>
        <label> <b> Crop Location: </b></label> {{crop.location}}
    </div> -->
    <div>
        <label> <b> Crop Added by: </b></label> {{crop.uploaded_by}}
    </div>
    <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<small class="footerD">&copy;Nusrat Kembhavi</small>