<!-- <mat-toolbar color="primary">
    <span><a mat-icon-button routerLink="/">Crop-Deal</a></span>
    <li class = "nav-item">
        <a routerLink="crop" routerLinkActive="active" class="nav-link" >Crops</a>
    </li>
    <li class = "nav-item">
        <a routerLink="farmer" routerLinkActive="active" class="nav-link" >Farmers</a>
    </li>
    <li class = "nav-item">
        <a routerLink="dealer" routerLinkActive="active" class="nav-link" >Dealers</a>
    </li>
    <li class = "nav-item">
        <a routerLink="admin" routerLinkActive="active" class="nav-link" >Admin</a>
    </li>
    <li class = "nav-item">
        <a routerLink="aboutus" routerLinkActive="active" class="nav-link" >About Us</a>
    </li>
    <span class="example-spacer"></span>
    <a mat-icon-button routerLink="/login">Login</a>
</mat-toolbar> -->
<nav>
    <mat-card  class="headerCard">
    <ul>
      <img src="../../../assets/logo2.jpg">
      <li><a href=" ">Home</a></li>
      <li><a  routerLink="avail-crop">Crops</a></li>
      <li><a routerLink="/findcrop">Farmers</a></li>
      <li><a routerLink="/admin-login">Admin</a></li>
      <li><a routerLink="about-us">About Us</a></li>
    </ul>
    <!-- <span class="example-spacer"></span> -->
    
    </mat-card>
  </nav>